<!DOCTYPE html>
<html lang="ro">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/poze/favicon.ico"/>
<title>OMUL</title>
<meta charset="UTF-8">
			<meta name="description" content="O scurta istorie a filozofiei">
				<meta name="keywords" content="Ne pare rau, aceasta pagina nu exista">
					<meta name="authors" content="Elena Lupsa, Gabriel Hacmac">
					  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/stil_404.css"/>
</head>
<body class="container">
<%- include("../fragmente/header")  %>
<main>
   <p>404 - Ne pare rau, aceasta pagina nu exista, altadata!</p>
</main>
</body>
</html>  
