<!DOCTYPE html>
<html lang="ro">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/poze/favicon.ico"/>
<title>CUNOAŞTEREA</title>
<meta charset="UTF-8">
			<meta name="description" content="O scurta istorie a filozofiei">
				<meta name="keywords" content="cunoasterea,a priori,a posteriori">
					<meta name="authors" content="Elena Lupsa, Gabriel Hacmac">
					  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/stil_cunoastere.css"/>
<script src="js/numarare.js"></script>
</head>
<body>
						<%- include("../fragmente/header")  %>
						<main>
						<section>
						<h2 id="sectiune_tabel">Informaţii</h2>
						<table id="tabel_responsive">
						<thead>
						<tr>
						<th colspan="2">CUNOAŞTEREA</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td><b>A PRIORI</b>-susţinută de <b>filozofii empirişti</b></td>
						<td><b>A POSTERIORI</b>-susţinută de <b>filozofii raţionalişti</b></td>
						</tr>
						<tr>
						<td>Dacă o opinie nu este extrasă din experienţă, nu o putem trata drept cunoaştere</td>
						<td>Dacă o opinie provine din experienţă, nu putem avea certitudinea că nu suntem induşi în eroare</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
						<td colspan="2">Concluzie:problematica cunoaşterii a fost dezbătută din secolul al-XVI-lea</td>
						</tr>
						</tfoot>
						</table>
						</section>
						<section>
						<h2>Fotografii</h2>
						<div id="sectiune_poze">
						<figure>
						<img src="/poze/locke.jpg" alt="John Locke" title="John Locke">
						<figcaption>John Locke(1632-1704)</figcaption>
						</figure>
						
						<figure>
						<img src="/poze/descartes.jpg" alt="René Descartes" title="René Descartes">
						<figcaption>René Descartes(1596-1650)</figcaption>
						</figure>
						
						<figure>
						<img src="/poze/hume.jpg" alt="David Hume" title="David Hume">
						<figcaption>David Hume(1711-1776)</figcaption>
						</figure>
						
						<figure>
						<img src="/poze/leibniz.jpg" alt="G.W.Leibnitz" title="G.W.Leibnitz">
						<figcaption>G.W.Leibnitz(1646-1716)</figcaption>
						</figure>
						
						<figure>
						<img src="/poze/bacon.jpg" alt="Francis Bacon" title="Francis Bacon">
						<figcaption>Francis Bacon(1561-1626)</figcaption>
						</figure>
						
						<figure>
						<img src="/poze/spinoza.jpg" alt="Baruch Spinoza" title="Baruch Spinoza">
						<figcaption>Baruch Spinoza(1632-1677)</figcaption>
						</figure>
						</div>
						</section>
								</main>
<footer>
<p><small>Aceste informatii sunt preluate din Manual de Filosofie Clasa a 12-a Tip A</small></p>
</footer>
</body>
</html>
<!---->