<!DOCTYPE html>
<html lang="ro">
<head>
<link rel="shortcut icon" type="image/x-icon" href="/poze/favicon.ico"/>
<title>OMUL</title>
<meta charset="UTF-8">
			<meta name="description" content="O scurta istorie a filozofiei">
				<meta name="keywords" content="Omul,perspective traditionale, perspective contemporane">
					<meta name="authors" content="Elena Lupsa, Gabriel Hacmac">
					  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/stil_omul.css"/>
<script src="js/taskuri.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
						<%- include("../fragmente/header")  %>
						<main>
						<div>
        <h2 id = "T1">C</h4>
        <h2 id = "T2">U</h4>
        <h2 id = "T3">N</h4>
        <h2 id = "T4">O</h4>
        <h2 id = "T5">A</h4>
        <h2 id = "T6">S</h4>
        <h2 id = "T7">T</h4>
		<h2 id = "T8">E</h4>
		<h2 id = "T9">R</h4>
		<h2 id = "T10">E</h4>
		<h2 id = "T11">A</h4>
        </div>
						<section>
						<h2 id="sectiune_tabel">Informaţii</h2>
						<table id="tabel_responsive" >
						<thead>
						<tr>
						<th colspan="4">OMUL</th>
						</tr>
						<tr>
						<th colspan="2">PERSPECTIVE TRADIŢIONALE</th>
						<th colspan="2">PERSPECTIVE CONTEMPORANE</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						<td>Aristotel</td>
						<td><b>Omul</b> are nevoie de semenii săi pentru a se împlini, pentru a se desăvârşi ca fiinţă raţională</td>
						<td>Sarte</td>
						<td>Pentru că nu există natura umană dată, nici existenţa omului nu poate să aibă vreun sens prestabilit</td>
						</tr>
						<tr>
						<td>Descartes</td>
						<td><b>Omul</b> trebuie definit din prisma dualităţii sale</td>
						<td>Heidegger</td>
						<td>Soluţia la încercarea de a determina<q>ce este <b>omul</b></q> ar fi conceperea acestuia din perspectiva de <q>humanitas</q></td>
						</tr>
						<tr>
						<td>Hume</td>
						<td>Inainte de a fi fiinţă raţională, <b>omul</b> este fiinţă sensiblă</td>
						<td rowspan="2">Blaga</td>
						<td rowspan="2"><b>Omul</b> îşi manifestă perfectibilitatea, realizând <q>saltul ontologic</q> de la animalitate la umanitate</td>
						</tr>
						<tr>
						<td>Kant</td>
						<td><q>Orice <b>om</b> este scop în sine şi nu doar mijloc</q></td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
						<td colspan="4">Aceste informatii sunt preluate din Manual de Filosofie Clasa a 12-a Tip A</td>
						</tr>
						</tfoot>
						</table>
						</section>
						<section>
						<h2>Fotografii</h2>
						<div id="sectiune_poze">
						<figure>
						<img src="/poze/kant.jpg" alt="Immanuel Kant" title="Immanuel Kant(1724-1804)">
						<figcaption>Immanuel Kant(1724-1804)</figcaption>
						</figure>
						<figure>
						<img src="/poze/aristotel.jpg" alt="Aristotel" title="Aristotel(384 BC-322 BC)">
						<figcaption>Aristotel(384 BC-322 BC)</figcaption>
						</figure>
						<figure>
						<img src="/poze/heidegger.jpg" alt="Martin Heidegger" title="Martin Heidegger(1889-1976)">
						<figcaption>Martin Heidegger(1889-1976)</figcaption>
						</figure>
						</div>
						</section>
						<div id="butonas">
						<button id="ascunde_informatie">Ascunde poze</button>
						</div>
						<h2>Știați că...?</h2>
						<div id="mesaj_aleator">
						</div>
						<div class="container">
						<canvas id="inima">
						</canvas>
							</div>	
								</main>
<%- include("../fragmente/footer")  %>
</body>
</html>
<!---->